body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Neue Machina', sans-serif;

}

@font-face {
    font-family: 'Ńeue Machina';
    src: url(../fonts/neue-machina-regular.otf);
}

.conteudo {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
}

.conteudo::before,
.conteudo::after {
    content: '';
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.conteudo::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media (max-width: 410px) {
    .conteudo .alinha-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo .alinha-btn .btn {
        margin-bottom: .5rem;
    }

}

@media (max-width: 476px) {
    .conteudo .header {
        flex-direction: column;
        justify-content: center;
    }

    .header .header-photo {
        width: 100%;
        align-items: center;
    }
}

@media (max-width:572px) {
    .skills {
        flex-direction: column !important;
        justify-content: center;

    }

    .skills .tools {
        width: 100%;
        margin-top: .5rem;
    }

    .skills .personal {
        width: 100%;
        margin-top: .5rem;
    }

    .skills .tools .tools-list {
        margin: 0;
        padding: 0;
        justify-content: center;

    }

    .skills .personal .personal-list {
        align-items: center;
        
    }



    .idiomas .idiomas-list {
        white-space: nowrap;
        padding-left: .5rem;

    }



}


@media (max-width:768px) {

    .skills,
    .idiomas,
    .portfolio,
    .experiencia {
        margin: 0.5rem !important;
    }
}

@media only screen and (min-width: 768px) {
    .conteudo {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .conteudo::before,
    .conteudo::after {
        width: 70vw;
    }

}