.header {
    display: flex;
    flex-direction: row;
}

.header-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.header-photo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}


.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title {
    font-size: xx-large;
}

.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-wrap: nowrap;
}

.informacao .informacao-p p img {
    width: 16px;
    height: 16px;
}


.alinha-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    width: 7rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    margin-right: 0.5rem;
    font-size: 18px;
}


.btn:hover {
    background-color: rgb(58, 101, 114);
    color: aliceblue;
}

.btn:active {
    background-color: rgb(28, 5, 39);
}



.skills {
    width: 50%;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: .7rem;


}

.title-skills{
    width: 12%;
    height: 5%;
    
}

.tools {
    width: 50%;
    margin-top: 4rem;
    flex-direction: row;
    

}

.personal {
    width: 50%;
    margin-top: 4rem;
    flex-direction: row;

}

.tools-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    flex-wrap: wrap;
}

.personal-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}


.skills .tools .tools-list li img {
    height: 50px;
    margin-right: .5rem;

}

.skills .personal .personal-list li  {
    margin-right: 2rem;
    font-weight: 520;
    
}

.invisible{
    display: none;
}

.idiomas{
    width: 50%;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    border-radius: 1rem;
   
    
    
}

.idiomas .idiomas-list{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.idiomas .idiomas-list  li{
    margin-right: 2rem;
    list-style: none;
    font-weight: bold;
    
}


.idiomas .idiomas-list  li img{
    height: 15px;
    margin-right: .5rem;
}

.portfolio{
    width: 50%;
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    
    
}

.portfolio li h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 520;
    margin-bottom: 0;
    
}

.portfolio li img{
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: .5rem ;
    margin-top: -.2rem;
    margin-bottom: 0;
    
}

.portfolio li a{
    margin-top: .5rem;
    text-decoration: none;
    
}